@import '@uvalib/web-styles/scss/variables';

.sort-section {
   background: $white;
}
.desc  {
   padding: 10px;
   border-left: 1px solid $brand-blue;
   border-right: 1px solid $brand-blue;
   font-size: 0.9em;
}
.desc :deep(a) {
   color: $white !important;
   text-decoration: underline !important;
   font-weight: normal !important;
   &:hover {
      font-style: italic !important;
   }
}
.pool-results {
   border: 0;
   position: relative;
   top: -5px;
}
div.pool-header {
   font-size: 1em;
   color: $white;
   background: $brand-blue;
   margin: 0 0 1rem 5px;
   text-align: left;
   box-shadow: $box-shadow-light;
}
.pool-name {
   font-weight: bold;
}
.hits-content {
   text-align: left;
   margin: 20px 0;
}
.image.hits-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1.25rem;
  list-style: none;
  margin: 0 0 20px 5px;
  padding: 0;
  height: 100%;
}
.image.hit-wrapper {
    box-shadow: none;
    margin:0;
    padding:0;
    max-width: 250px;
}
.hit-wrapper {
   margin: 0 0 20px 5px;
}
.hit-wrapper.none {
   background: $white;
   padding:35px;
   color: $text;
   box-shadow:  $box-shadow-light;
   margin-bottom: 1rem;

   span {
      font-size: 1.5em;
      font-weight: 500;
   }

   p.note {
      margin: 5px 0;
      font-weight: normal;
   }
   .v4-button {
      margin-top:25px;
   }
}
.hit-wrapper.none .error {
   padding: 0;
   margin: 5px 0;
   font-size: 0.75em;
   font-weight: normal;
   color: $red;
}
.hit-wrapper:last-child {
   margin-bottom: 0;
}
@media only screen and (max-width: $breakpoint-mobile) {
   .hit-wrapper {
     max-width: 94vw;
     margin: 0 0px 20px 0px;
   }
   .image.hits-content {
      margin: 0 0 20px 0;
      grid-gap: .5rem;
   }
   div.pool-header {
      margin: 0 0 1rem 0;
   }
}
.no-more {
   cursor: default;
}
.source-logo {
   background: $white;
   padding: 5px;
   text-align: left;
}
.source-logo .logo {
   max-height:90px;
   display: inline-block;
}
.expand-panel {
   margin: 0px 0 25px 5px;
   box-shadow: $box-shadow-light;
   border: 1px solid $grey-light;
}