@import '@uvalib/web-styles/scss/variables';

button {
   color: inherit;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

button.text-button {
    border: none;
    background: none;
    padding: 0;
    font-weight: 500;
    color: var(--uvalib-button-color, $color-link);
    cursor: pointer;
    display: inline-block;
    &:hover {
       opacity: 1;
       text-decoration: underline;
    }
    &:focus {
       @include be-accessible();
    }
 }
 
 button.v4-button.icon-button {
    border: none;
    background: none;
    padding:2px;
    margin:0;
    outline: none;
    &:focus {
       @include be-accessible();
    }
 }
 .link-button {
   border-radius: 5px;
   font-weight: normal;
   text-transform: uppercase;
   background-color: $brand-orange;
   color: var(--uvalib-button-color,$white);
   border: none;
   padding: 10px 12px;
    &:hover  {
       background-color: $grey-light;
       color: var(--uvalib-button-hover-color,$text-dark);
    }
    &:focus {
       @include be-accessible();
    }
 }
 .pure-button.pure-button-primary, .pure-button.pure-button-small {
    background-color: $brand-blue-light;
    border: 1px solid $brand-blue-light;
    &:hover {
       background-color: $brand-blue-lighter;
       border: 1px solid $brand-blue-lighter;
       transition: all 0.3s ease;
    }
 }
 
 .pure-button.pure-button-tertiary {
    background-color: $grey-lightest;
    border: 1px solid $grey;
    color: var(--uvalib-button-color,$black);
 }
 .pure-button.pure-button-tertiary:hover {
    background-color: $grey-light;
 }
 .pure-button.pure-button-primary,
 .pure-button.pure-button-small,
 .pure-button.pure-button-tertiary {
    border-radius: 5px;
    font-weight: normal;
    &:focus {
       @include be-accessible();
    }
 }
 .pure-button.disabled {
    cursor: default;
    opacity: 0.25;
 }