@import '@uvalib/web-styles/scss/variables';

/*
:host {
  font-size: 1em;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: .8em .4em;
  padding: .6rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: auto;
  background-color: var(--uvalib-button-background, $blue-alt);
  color: $white;
  border-radius: 5px;
  text-transform: uppercase;
  border-radius: 5px;
}      

:host([href]) {
  margin: .5em;
  padding: .88em;
  text-decoration: underline !important;
  color: $white;
}

:host .button-content {
  height: 100%;
}
*/