@import url("https://use.typekit.net/tgy5tlj.css");
/* small media width */
:host {
  box-sizing: border-box;
  display: block;
  width: 100%;
  /* use --uvalib-footer-background-color to override background color */
  background-color: #232d4b;
  /* use --uvalib-footer-color to override footer font color */
  color: #87b9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#top {
  flex: 1;
  flex-basis: 0.000000001px;
  width: 95%;
  max-width: 1200px;
  flex-basis: auto;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  background-color: #ffffff;
  color: #4F4F4F;
  padding: 10px !important;
  border-radius: 3px;
}

a {
  color: #87b9d9;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  padding-bottom: 8px;
  color: #87b9d9;
}

ul li a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  margin-bottom: 25px;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
}

#give-button {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0;
  border: none;
  font-weight: bold;
  font-size: calc( 16px*1.125);
}

/*
paper-button {
  color: $color-white;
  background: var(--uvalib-brand-orange);
}
*/
.social-links {
  display: flex;
  flex-direction: row;
}

address {
  color: #ffffff;
  font-style: normal;
  line-height: 1.4;
}

.bottom-bar {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background-color: #141e3c;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bottom-bar > div {
  max-width: 1200px;
  width: 100%;
}

.bottom-bar a {
  text-decoration: none;
}

.bottom-bar ::slotted {
  display: flex;
  flex-direction: row;
}

.bottom-bar ::slotted(.footer-extended) {
  background-color: initial !important;
  height: 100% !important;
}

.bottom-bar a {
  color: #ffffff;
  padding: 0 10px 0 10px;
  font-size: 1.1em;
}

.bottom-bar div.links {
  float: left;
  padding: 30px 0 0 28px;
}

.bottom-bar div.fdl {
  float: left;
  height: 80px;
}

.columns {
  position: relative;
  top: -23px;
}

div.fdl svg {
  height: 50%;
  padding-top: 20px;
}

#top .section paper-icon-button:focus {
  outline: #0370b7 dotted 3px;
  padding: 0.15em;
}

/* Small Screen */
@media screen and (max-width: 768px) {
  :host {
    padding: 30px 0 0 0;
  }

  .social-links {
    justify-content: center;
  }

  .column {
    padding-bottom: 10px;
  }

  .section > div {
    flex: 1;
    flex-basis: 0.000000001px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
  }

  #top {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  #top > .section {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
}
/* Medium Screen */
@media screen and (max-width: 925px) and (min-width: 768px) {
  :host {
    padding: 20px 0 0 0;
  }

  .column {
    padding-bottom: 10px;
  }

  .section > div {
    padding-bottom: 20px;
  }

  #top {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-bottom: 10px;
  }

  #top > .section {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
}
/* Large  Screen */
@media screen and (min-width: 925px) {
  :host {
    padding: 50px 0 0 0;
  }

  #top {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-bottom: 10px;
  }

  #top > .section {
    flex: 2;
    display: flex;
    flex-direction: row;
  }

  .section > div {
    flex: 1;
    flex-basis: 0.000000001px;
  }
}

/*# sourceMappingURL=UvalibFooterStyle.css.map */
