---
title: Modern Library Bibliography &middot; Bibliographical Society
---


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- No Robots for now -->
    <meta name="robots" content="noindex" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" media="all">
    <link rel="alternate" type="application/rss+xml" title="Bibliographical Society &raquo; Feed" href="https://bsuva.org/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Bibliographical Society &raquo; Comments Feed" href="https://bsuva.org/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Bibliographical Society &raquo; Home Page Comments Feed" href="https://bsuva.org/home-page/feed/" />

    {% for path in prefetch %}
        <link rel="prefetch" href="{{ path }}" as="fetch" />
    {% endfor %}

    <!-- todo: temp use of shoelace library cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.72/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.72/dist/shoelace.js"></script>

</head>
<body class="home page-template page-template-homepage page-template-homepage-php page page-id-1157">

    <header role="banner">
        <h1><a href="https://bsuva.org"><img src="https://bsuva.org/wp-content/themes/bsuva/images/bsuva-logo.png" alt="Bibliographical Society" /></a></h1>
        {% include 'menu.njk' %}
    </header>

    {{ content | safe }}

    {% include 'footer.njk' %}

    <script type='text/javascript' src='https://bsuva.org/wp-includes/js/wp-embed.min.js?ver=5.8.3' id='wp-embed-js'></script>
    <script type="module" src="{{ '/js/images.js' | url }}"></script>
    <script type="module" src="{{ '/js/layout.js' | url }}"></script>
    
</body>
</html>