    <footer role="contentinfo">
            <div id="secondary-footer-widget-area">
    <div id="text-25" class="widget-container widget_text">			<div class="textwidget">The Bibliographical Society of the University of Virginia<br>
<!--
2014 Hessian Rd <br>
Charlottesville, VA 22903 <br>
-->
Email: <a href="mailto:bibsoc@virginia.edu">bibsoc@virginia.edu</a></div>
		</div>    </div>
            </footer>