---
layout: base.njk
---
<article>
  {% if title %}
    <h1>{{ title }}</h1>
  {% else %}
    <h1>UVA BOV meeting minutes from {{ year }}/{{ month }}</h1>
  {% endif %}
  {{ content | safe }}
</article>