@import url("https://use.typekit.net/tgy5tlj.css");
/**
* Screen Reader only text for use where text is needed for non visual users
*
* @mixin
* @section Accessibility Mixins
* @example
*  span.srOnly {
*    @include sr-only;
*  }
*/
/* small media width */
:root {
  --uvalib-brand-blue-lightest: #87b9d9;
  --uvalib-brand-blue-lighter: #3395d4;
  --uvalib-brand-blue-light: #0370b7;
  --uvalib-brand-blue: #232d4b;
  --uvalib-brand-orange-lightest: #ffead6;
  --uvalib-brand-orange: #e57200;
  --uvalib-brand-orange-dark: #b35900;
  --uvalib-blue-alt-light: #55c4ec;
  --uvalib-blue-alt: #007bac;
  --uvalib-blue-alt-dark: #005679;
  --uvalib-blue-alt-darkest: #141e3c;
  --uvalib-teal-lightest: #c8f2f4;
  --uvalib-teal-light: #5bd7de;
  --uvalib-teal: #25cad3;
  --uvalib-teal-dark: #1da1a8;
  --uvalib-teal-darker: #16777c;
  --uvalib-green-lightest: #ddefdc;
  --uvalib-green: #62bb46;
  --uvalib-green-dark: #4e9737;
  --uvalib-red-lightest: #fbcfda;
  --uvalib-red: #ef3f6b;
  --uvalib-red-emergency: #b30000;
  --uvalib-red-darker: #b30000;
  --uvalib-red-dark: #df1e43;
  --uvalib-yellow-light: #fef6c8;
  --uvalib-yellow: #ecc602;
  --uvalib-yellow-dark: #b99c02;
  --uvalib-beige: #f7efe1;
  --uvalib-beige-dark: #c0b298;
  --uvalib-grey-lightest: #f1f1f1;
  --uvalib-grey-light: #dadada;
  --uvalib-grey: #808080;
  --uvalib-grey-dark: #4f4f4f;
  --uvalib-grey-darkest: #2b2b2b;
  --uvalib-white: #ffffff;
  --uvalib-text-light: #ffffff;
  --uvalib-text: #4f4f4f;
  --uvalib-text-dark: #2b2b2b;
  --uvalib-primary-orange: #e57200;
  --uvalib-accessibility-highlight: #0370b7;
  --uvalib-color-link: #005679;
  --uvalib-color-link-darker: #005679;
  --uvalib-color-primary-text: #4f4f4f;
  --uvalib-color-error: #b30000;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: calc(1em/ 4);
  text-transform: none;
  color: #4f4f4f;
}

.apply-border {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #dadada;
}

h1,
.h1 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  font-size: calc(16px* 3.75);
  line-height: calc(16px* 3.75);
  color: #232d4b;
  margin-top: calc(1em/ 4);
  margin-bottom: calc(1em/ 1.5);
}

h2,
.h2 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
  font-size: calc(16px* 2);
  line-height: calc(16px* 2);
  color: #232d4b;
}

h3,
.h3 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
  font-size: calc(16px* 1.5);
  line-height: calc(16px* 1.5);
  color: #232d4b;
}

h4,
.h4 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
  font-size: calc(16px* 1.25);
  line-height: calc(16px* 1.25);
  color: #232d4b;
}

h5,
.h5 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #232d4b;
}

h6,
.h6 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4f4f4f;
}

div.v4-spinner-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
}

div.v4-spinner {
  background: #ffffff;
  margin: 12vw auto;
  text-align: center;
  padding: 10px 150px 25px 150px;
  display: inline-block;
  font-weight: bold;
  color: #4f4f4f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

div.v4-spinner.embed {
  box-shadow: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

@media only screen and (min-width: 768px) {
  div.v4-spinner {
    padding: 40px 90px;
  }
}
@media only screen and (max-width: 768px) {
  div.v4-spinner {
    width: 95%;
    padding: 40px 0;
    margin-top: 30%;
  }
}
div.v4-spinner h1 {
  color: #4f4f4f;
  border: none;
}

.spinner-animation {
  margin: 0 auto;
  width: 80px;
  text-align: center;
}

.spinner-animation > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin: 0 2px;
}

.spinner-animation .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-animation .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/**  PAGE FLIP ANIMATION **/
.book {
  top: 50%;
  transform: translateY(-4%);
  position: relative;
  margin: 0 auto;
  border: 5px solid #e57200;
  width: 140px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.book-page {
  position: absolute;
  left: 50%;
  top: -5px;
  margin: 0 auto;
  border-top: 5px solid #e57200;
  border-bottom: 5px solid #e57200;
  border-right: 5px solid #e57200;
  background: #fff;
  width: 70px;
  height: 80px;
  transform-origin: 0% 50%;
  animation: flip 1.2s infinite linear;
  animation-fill-mode: forwards;
}

.book-page:nth-child(1) {
  z-index: -1;
  animation-delay: 0s;
}

.book-page:nth-child(2) {
  z-index: -2;
  animation-delay: 0.5s;
}

.book-page:nth-child(3) {
  z-index: -3;
  animation-delay: 1s;
}

div.v4-spinner .book p {
  color: #4f4f4f;
  border: none;
  font-size: 1.25em;
  margin: 0 0 10px 0;
}

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }
  20% {
    background: #e6e6e6;
    /* Todo: needs a color assigned from style repo */
  }
  29.9% {
    background: #e6e6e6;
    /* Todo: needs a color assigned from style repo */
  }
  30% {
    transform: perspective(200px) rotateY(-90deg);
    background: #ffffff;
  }
  54.999% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    transform: perspective(200px) rotateY(-180deg);
    background: #ffffff;
  }
  100% {
    transform: perspective(200px) rotateY(-180deg);
    background: #ffffff;
  }
}
.bounce1, .bounce2, .bounce3 {
  background-color: var(--uvalib-spinner-background-color, #e57200) !important;
}

/*# sourceMappingURL=UvalibSpinner.css.map */
