.env
.aws-sam
build.toml
model.tar.gz
.checksum
.checksums/
.build_checksum
.lib_checksum
.vscode/
.DS_Store
dist/
.sav/
.delete/
.data/
*.egg-info/
build/
__pycache__
*.code-workspace
.ruff_cache
.kiro
rvl_cdip_*
notebooks/examples/data
.idea/
.dsr/
**/cdk.out
**/.envrc
**/node_modules
**/.vite
frontend/public/aws-exports.json
.venv
scripts/zip-artifact/
public/
.mkdocs/public/
