---
layout: null
permalink: "/demo/catalog.json"
---
[
{% for item in collections.minutes %}
    {
        "title": {{ item.data.title | dump | safe }},
        "url": {{ item.url | dump | safe }},
        "description": {{ item.data.description | dump | safe }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
]