@media screen {

    /* HTML5 display definitions */

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    /* Normalizers */
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    
    html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

    html, button, input, select, textarea { font-family: sans-serif; color: #222; }

    body { margin: 0; font-size: 1em; line-height: 1.4; }

    ::-moz-selection { background: rgba(0, 100, 255, 0.5); color: #fff; text-shadow: none; }
    ::selection { background: rgba(0, 100, 255, 0.5); color: #fff; text-shadow: none; }

    /* Links */
    a:hover, a:active, a:focus { outline: 0; }

    /* Typography */
    abbr[title] { border-bottom: 1px dotted; }

    b, strong { font-weight: bold; }

    blockquote { margin: 1em 40px; }

    i,em,dfn { font-style: italic; }

    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

    ins { background: #ff9; color: #000; text-decoration: none; }

    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

    pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }

    small { font-size: 85%; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    /* Lists */
    ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
    dd { margin: 0 0 0 40px; }
    nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

    /* Embedded content */
    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    svg:not(:root) { overflow: hidden; }

    /* Figures */
    figure { margin: 0; }

    /* Forms */
    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
    button[disabled], input[disabled] { cursor: default; }
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }

    /* Tables */
    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    html {
        background-color: #f0f0e0;
    }

    body {
        font: 90%/1.4 "Helvetica Neue", Helvetica, Arial, "Franklin Gothic Book", "Franklin Gothic", "Trebuchet MS", Verdana, sans-serif;
        color: #444;
        background: transparent;
        margin:0;
        padding:0;
    }

    h1,h2,h3 {
        font-family: Garamond, "Adobe Garamond Pro", Georgia, Times, "Times New Roman", serif;
    }

    h2,h3,h4 {
      margin-bottom:0;
    }
    h2 + *,
    h3 + *,
    h4 + * {
      margin-top:0;
    }
    a:link {
      color: rgb(220,120,0);
    }
    a:visited {
      color: rgb(220,120,0);
    }
    a:hover {
      color: #3B4B60;
    }
    a:active {
      color: rgb(220,120,0);
    }

    h1 a,
    h2 a {
        text-decoration:none;
    }

    img {
      max-width:100%;
      width: auto;
      height: auto;
    }
    .kicker {
        font-size: 0.8em;
        font-weight:bold;
        color: #ccc;
        color: rgba(0,0,0,0.5);
    }
    
    .alignleft {
      float:left;
      margin-right: 20px;
      margin-bottom:20px;
    }
    .alignright {
      float:right;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .menu,
    .menu ul {
      padding-left:0;
    }

    .menu li {
        display:inline;
    }

    .menu li+li:before {
        content: " / ";
        color: #ccc;
        color: rgba(0,0,0,0.5);
        padding: 0 4px;
    }

    header[role="banner"] {
        background-color: #3B4B60;
        background-color: rgba(15,35,65,0.8);
        overflow:hidden;
        padding: 2em;
        border:1px solid #ccd;
        border-width: 0 0 1px;

    }
    
    header[role="banner"] h1 {
        margin:0 0 1em;
        line-height:1;
    }

    header[role="banner"] div.menu ul,
    header[role="banner"] .menu {
        margin:0 0 1em;
        padding:0;
        font-weight:bold;
        font-size: 0.9em;
    }

    header[role="banner"] nav li,
    header[role="banner"] .menu li {
        display:inline;
    }

    header[role="banner"] nav li + li:before,
    header[role="banner"] .menu li + li:before {
        content: " / ";
        color: #aaa;
        padding: 0 4px;
    }

    header[role="banner"] a {
        color: rgb(240,240,240);
        color: rgba(255,255,255,0.7);
        text-decoration:none;
    }

    header[role="banner"] a:link,
    header[role="banner"] a:visited {
        color: rgb(240,240,240);
    }

    header[role="banner"] a:hover,
    header[role="banner"] a:active {
        color: #fff;
    }

#search {
  position:relative;
  font-size: 80%;
  width: 180px;
  overflow:hidden;
  zoom:1;
}

#search * {
  margin:0;
  padding:0;
}

#search label{
  display:none;
}

#search input[type=search] {
  border:none;
  margin:0;
  height: 1em;
  float:left;
  width: 140px;
  padding: 10px 40px 10px 10px;
  text-align: left;
  border: none;
  border: 1px solid #ccc;
  box-shadow: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.9);
}

#search input[type=search]:focus {
  background: #fff;
  outline:none;
}

#search input[type=submit] {
    width: 25px;
    height: 16px;
    background: url("images/search-icon.png") 50% 0 no-repeat;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    text-indent: 9999px;
    border: none;
    float:left;
    opacity: 0.5;
    padding-left: 10px;
}

#search input[type=submit]:hover,
#search input[type=submit]:active {
  opacity: 1;
}

    #masthead {
      height: 100px;
      overflow:hidden;
      margin: -2em -3em 2em;
    }
    #content {
        padding:2em;
        background-color: #fff;
        background-color: rgba(255,255,255,0.8);
        overflow:hidden;
    }

    .home .widget_recent_entries {
      margin-top: 3em;
    }
    .home .widget_recent_entries h2 {
    }
    .home .widget_recent_entries ul {
        list-style:none;
        padding-left:0;
        margin:0;
    }
    .home .widget_recent_entries a {
        display:block;
        text-decoration:none;
        font-weight:bold;
        padding: 1em 0.5em;
    }
    .home .widget_recent_entries li + li {
        border-top:1px dotted #ddd;
    }
    #home-intro p {
        font-size: 1.5em;
        margin: 1em 0;
        color: #ccc;
        color: rgba(0,0,0,0.5);
    }

    #home-primary .widget-container .menu {
        list-style:none;
        padding-left:0;
    }
     #home-primary .widget-container .menu a {
        text-decoration:none;
        text-align:center;
        font-weight:bold;
        background: #3B4B60;
        background: rgba(30,70, 130, 0.75);
        font-size: 1em;
        padding:0.5em;
        color: #fafafa;
        color: rgba(255,255,255,0.9);
    }

    #home-primary .menu a:link,
    #home-primary .menu a:visited {
        background: rgba(15,35,65,0.65);
        color: #fafafa;
        color: rgba(255,255,255,0.9);
    }

    #home-primary .menu a:hover,
    #home-primary .menu a:active {
        background: rgba(15,35,65,0.75);
    }

    h2#journal-blurb {
        margin:0;
        line-height: 1.2;
        font-size: 1.8em;
    }

    /* Misspelled on purpose! */
    .pni-navigtion ol {
      list-style:none;
      padding-left:0;
    }

    .single article header,
    .page article header {
      border: 1px solid #eee;
      border-width: 0 0 1px;
      padding: 0 0 1em;
      margin-bottom: 3em;
    }

    .single article h1,
    .page article h1 {
        font-size: 2em;
    }
    
    .byline {
      font-size: 90%;
      color: #999;
      color: rgba(0,0,0,0.5);
      margin: 0 0 1em;
      font-weight:bold;
    }

    #news-pagination {
      border-top: 1px dotted #ccc;
      padding-top: 1em;
    }
    #news-pagination li {
      display:block;
      float:left;
      width: 50%;
    }
    .next {
      text-align:right;
    }
    #studies-in-bibliography {
        list-style:none;
        padding-left:0;
    }

    #studies-in-bibliography a {
        text-decoration:none;
    }

    #studies-in-bibliography .format {
      font-size: 87.5%;
      font-weight:bold;
    }

    #studies-in-bibliography img {
        margin: 0 1em 1em 0;
      }

    #studies-in-bibliography em {
      font-style:normal;
      color: #555;
      font-size: 87.5%;
      margin-bottom: 1em;
    }

     #menu-home-secondary-menu {
        font-family: Garamond, "Adobe Garamond Pro", Georgia, Times, "Times New Roman", serif;
      font-size: 1.75em;
      margin:0;
      }
    #menu-home-secondary-menu li {
      display:block;
    }

    #menu-home-secondary-menu li:before {
          content:none !important;
          margin:0;
          padding:0;
    }

    #menu-home-secondary-menu a {
      display:block;
      padding: 1em 0;
      text-decoration:none;
      font-weight:bold;
      border-bottom: 1px solid #ddd;
    }

    #menu-home-secondary-menu {
      border-top: 1px solid #ddd;
    }

    footer[role="contentinfo"] {
        background-color: #3B4B60;
        background-color: rgba(15,35,65,0.8);
        padding: 2em;
        color: #fafafa;
        color: rgba(255,255,255,0.8);
    }

    footer[role="contentinfo"] p {
        margin:0;
    }
    footer[role="contentinfo"] div.menu ul,
    footer[role="contentinfo"] .menu {
        margin:0;
        padding:0;
        font-weight:bold;
        font-size: 0.9em;
    }

    footer[role="contentinfo"] nav li,
    footer[role="contentinfo"] .menu li {
        display:inline;
    }
    
    footer[role="contentinfo"] nav li + li:before,
    footer[role="contentinfo"] .menu li + li:before {
        content: " / ";
        color: #eee;
        color: rgba(0,0,0,0.25);
        padding: 0 4px;
    }

    footer[role="contentinfo"] a {
        text-decoration:none;
        color: #eee;
    }
    footer[role="contentinfo"] a:link,
    footer[role="contentinfo"] a:visited {
        color: #eee;;
    }

    footer[role="contentinfo"] a:hover,
    footer[role="contentinfo"] a:active {
        color: #fff;
    }

}

@media only screen and (min-width: 480px) {

    footer[role="contentinfo"] {
        overflow:hidden;
    }

    footer[role="contentinfo"] #primary-footer-widget-area {
        float:right;
        width: 70%;
        text-align:right;
    }

    footer[role="contentinfo"] #secondary-footer-widget-area {
        float:left;
        width: 25%;
    }
}

@media only screen and (min-width: 768px) {
    html {
        background-color: #f0f0e0;
        background-image: url('{{ '/images/linotype.png' | url }}');
        background-position: top right;
        background-position:fixed;
        background-repeat:no-repeat;
    }

    body {
        min-width: 748px;
        width: 90%;
        max-width: 960px;
        margin: 60px auto;
        box-shadow:0 0 20px rgba(0,0,0,0.1);
    }
    
    #content {
        padding: 1.5em 3em 3em;
        position:relative;
    } 

    #home-primary {
        float:left;
        width: 48%;
    }

    #home-primary .widget-container .menu a {
        display:block;
        font-size: 2em;
        line-height: 2em;
        font-family: Garamond, "Adobe Garamond Pro", Georgia, Times, "Times New Roman", serif;
    }

    #home-secondary {
        float:right;
        width: 48%;
    }

    article {
      float:left;
      width: 73%;
      clear:left;
    }
    
    #news-pagination {
      float:left;
      width: 73%;
      clear:left;
    }
    .single article,
    .page article {
      float:none;
      clear:auto;
      width: auto;
    }
    #sidebar {
      position:absolute;
      right: 3em;
      width: 21%;
    }

    .single article header,
    .page article header {
        padding: 1em 0; 
    }

    .single article h1,
    .page article h1 {
        font-size: 3em;
        margin: 0.1em 0;
        padding: 0.5em 5%;
    }

    .single article .entry-content,
    .page article .entry-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .page-parent .entry-content,
    .page-child .entry-content {
      float: left;
      width: 70%;
    }

    .page-parent .page-nav,
    .page-child .page-nav {
      float: right;
      width: 20%;
    }

    .page-nav,
    .page-nav ul {
      list-style:none;
    }
    .page-nav {
      padding-left:0;
      margin:0;
    }

    .page-nav .current_page_item > a {
      color: #333;
    }
    
    .page-nav ul {
      padding: 0 0 0 1.25em;
      margin:0 0 0.5em;
      font-size: 0.8em;
    }

    .page-nav li {
      border-bottom: 1px solid #eee;
    }

    .page-nav li li {
      border-bottom:0;
    }    
    .page-nav a {
      text-decoration:none;
      display:block;
      padding: 0.5em 1em;
      font-weight:bold;
    }

    #studies-in-bibliography li {
      float:left;
      width: 30%;
      margin-right: 3%;
      margin-bottom:2em;
    }

    #studies-in-bibliography li:last-child {
      margin-right: 0;
    }
    
    #studies-in-bibliography .coverlink {
      float:left;
      width: 50px;
      display:block;
      margin-right: 10px;
      height: 75px;
      overflow:hidden;
    }

    #studies-in-bibliography span,
    #studies-in-bibliography em {
      display:block;
    }
}

@media screen and (min-width: 1000px) {
    header[role="banner"] h1 {
        float:left;
        margin-bottom:0;
    }

    header[role="banner"] div.menu ul,
    header[role="banner"] .menu {
        float:right;
        text-align:right;
    }

    #search {
      float:right;
      text-align:right;
      clear:right;
    }
}

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h1, h2, h3 { orphans: 3; widows: 3; }
    h1, h2, h3 { page-break-after: avoid; page-break-inside:avoid;}
}