---
permalink: "css/style.css"
---
{% set css %}
  {% include "src/css/bsuva.org.njk" %}
  {% include "node_modules/@shoelace-style/shoelace/dist/themes/light.css" %}
{% endset %}
{{ css | cssmin | safe }}