tei-binding,
tei-format,
tei-general,
tei-jacket,
tei-paragraph, 
tei-price,
tei-tei, 
tei-title_page, 
tei-unassigned {    
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
tei-span {
    display: inline;
}
tei-head, h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}