@mixin be-accessible(){
    outline: 3px dotted $accessibility-highlight;
    outline-offset: 3px;
 }
 @mixin be-accessible-light(){
    outline: 3px dotted $grey-lightest;
    outline-offset: 3px;
 }
 
 @mixin be-accessible-field(){
    outline: 0;
    box-shadow: inset 0 0 5px 1px $accessibility-highlight;
 }
 
 @mixin apply-hover() {
     background-color: $brand-blue-lightest;
     color: $text-dark;
 }