// Variables
//
// Color system

/// @type Color
$white: #FFFFFF;

/// @type Color
$brand-blue-lightest: #87b9d9 !default;
/// @type Color
$brand-blue-lighter: #3395d4 !default;
/// @type Color
$brand-blue-light: #0370b7 !default;
/// @type Color
$brand-blue: #232d4b !default;

/// @type Color
$brand-orange-lightest: #ffead6 !default;
/// @type Color
$brand-orange: #e57200 !default;
/// @type Color
$brand-orange-dark: #b35900 !default;

/// @type Color
$blue-alt-light: #bfe7f7 !default;
/// @type Color
$blue-alt-lighter: #91D8F2 !default;
/// @type Color
$blue-alt-lightest: #BFE7F7 !default;
/// @type Color
$blue-alt: #007bac !default;
/// @type Color
$blue-alt-dark: #005679 !default;
/// @type Color
$blue-alt-darkest: #141E3C !default;

/// @type Color
$teal-lightest: #C8F2F4 !default;
/// @type Color
$teal-light: #5BD7DE !default;
/// @type Color
$teal: #25CAD3 !default;
/// @type Color
$teal-dark: #1DA1A8 !default;
/// @type Color
$teal-darker: #16777C !default;

/// @type Color
$green-lightest: #89cc74 !default;
/// @type Color
$green-lighter: #89CC74 !default;
/// @type Color
$green: #62bb46 !default;
/// @type Color
$green-dark: #4e9737 !default;

/// @type Color
$red-lightest: #FBCFDA !default;
/// @type Color
$red: #ef3f6b !default;
/// @type Color
$red-emergency: #df1e43 !default;
/// @type Color
$red-darker: #B30000 !default;
/// @type Color
$red-dark: #DF1E43 !default;

/// @type Color
$yellow-light: #fef6c8 !default;
/// @type Color
$yellow-lightest: #FEF6C8 !default;
/// @type Color
$yellow: #ecc602 !default;
/// @type Color
$yellow-dark: #b99c02 !default;

/// @type Color
$beige: #f7efe1 !default;
/// @type Color
$beige-dark: #c0b298 !default;

/// @type Color
$grey-lightest: #f1f1f1 !default;
/// @type Color
$grey-light: #dadada !default;
/// @type Color
$grey: #808080 !default;
/// @type Color
$grey-dark: #565656 !default;
/// @type Color
$grey-darkest: #2b2b2b !default;

/// @type Color
$text-light: #FFFFFF;
/// @type Color
$text: $grey-dark;
/// @type Color
$text-dark: $grey-darkest;

/// @type Color
$accessibility-highlight: $brand-blue-light;

/// @type Color
$primary-orange: $brand-orange;
/// @type Color
$color-link: $blue-alt-dark;
/// @type Color
$color-link-darker: $blue-alt-dark;
/// @type Color
$color-primary-text: $grey-dark;
/// @type Color
$color-error: $red-emergency;

$colors: (
   "brand-blue-lightest": $brand-blue-lightest,
   "brand-blue-lighter": $brand-blue-lighter,
   "brand-blue-light": $brand-blue-light,
   "brand-blue": $brand-blue,
   
   "brand-orange-lightest": $brand-orange-lightest,
   "brand-orange": $brand-orange,
   "brand-orange-dark": $brand-orange-dark,
   
   "blue-alt-light": $blue-alt-light,
   "blue-alt": $blue-alt,
   "blue-alt-dark": $blue-alt-dark,
   "blue-alt-darkest": $blue-alt-darkest,
   
   "teal-lightest": $teal-lightest,
   "teal-light": $teal-light,
   "teal": $teal,
   "teal-dark": $teal-dark,
   "teal-darker": $teal-darker,
   
   "green-lightest": $green-lightest,
   "green": $green,
   "green-dark": $green-dark,
   
   "red-lightest": $red-lightest,
   "red": $red,
   "red-emergency": $red-emergency,
   "red-darker": $red-darker,
   "red-dark": $red-dark,
   
   "yellow-light": $yellow-light,
   "yellow": $yellow,
   "yellow-dark": $yellow-dark,
   
   "beige": $beige,
   "beige-dark": $beige-dark,
   
   "grey-lightest": $grey-lightest,
   "grey-light": $grey-light,
   "grey": $grey,
   "grey-dark": $grey-dark,
   "grey-darkest": $grey-darkest
) !default;

$theme-colors: (
  "text-light": $text-light,
  "text": $text,
  "text-dark": $text-dark, 
  "primary-orange": $primary-orange,
  "accessibility-highlight":    $accessibility-highlight,
  "color-link":  $color-link,
  "color-link-darker":    $color-link-darker,
  "color-primary-text":       $grey-dark,
  "color-error":    $color-error
) !default;

$background-colors: (
   "white": $white,
   "grey-lightest": $grey-lightest
) !default;

$alert-background-colors: (
   "alert-level-1": $red-lightest,
   "alert-level-2": $yellow-lightest,
   "alert-level-3": $blue-alt-lightest,
   "alert-level-4": $teal,
   "regional-alert-informational": $teal-lightest,
   "regional-alert-warning": $yellow-lightest
) !default;

$actionable-colors: (
   "default-button": $blue-alt,
   "defalut-subtle-button": $blue-alt-lightest,
   "alertnate-button": $brand-orange,
   "default-link": $blue-alt-dark,
   "link-on-dark-background": $blue-alt-lightest
) !default;

$common-text-colors: (
   "text-dark": $text-dark,
   "text": $text,
   "white": $white
) !default;

$common-graphical-colors: (
   "grey-darkest": $grey-darkest,
   "grey-lightest": $grey-lightest,

) !default;

$primary-colors: (
   "brand-blue": $brand-blue,
   "brand-blue-light": $brand-blue-light,
   "brand-blue-lighter": $brand-blue-lighter,
   "brand-blue-lightest": $brand-blue-lightest,
   "brand-orange-dark": $brand-orange-dark,
   "brand-orange": $brand-orange,
   "brand-orange-lightest": $brand-orange-lightest
) !default;

$secondary-colors: (
   "blue-alt-dark": $blue-alt-dark,
   "blue-alt": $blue-alt,
   "blue-alt-light": $blue-alt-light,
   "blue-alt-lighter": $blue-alt-lighter,
   "blue-alt-lightest": $blue-alt-lightest,
   "teal-darker": $teal-darker,
   "teal-dark": $teal-dark,
   "teal": $teal,
   "teal-light": $teal-light,
   "teal-lightest": $teal-lightest,
   "green-dark": $green-dark,
   "green": $green,
   "green-lighter": $green-lighter,
   "green-lightest": $green-lightest,
   "red-darker": $red-darker,
   "red-dark": $red-dark,
   "red": $red,
   "red-lightest": $red-lightest,
   "yellow-dark": $yellow-dark,
   "yellow": $yellow,
   "yellow-lightest": $yellow-lightest
) !default;

$grey-colors: (
   "grey-darkest": $grey-darkest,
   "grey-dark": $grey-dark,
   "grey": $grey,
   "grey-light": $grey-light,
   "grey-lightest": $grey-lightest
) !default;

// Prefix for :root CSS variables
$variable-prefix:             uvalib- !default;