@import '@uvalib/web-styles/scss/variables';

:host {
  display: block;
  background-color: $grey-lightest;
  padding-bottom: calc(#{$spacing-unit}* 0.75);
}

a {
  color: inherit;
  display: block;
  margin: 20px 0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.category {
  display: none;
}

:host([featured]) > a {
  padding-bottom: 24px;
  border-bottom: $border;
}

:host([featured]) > a:last-of-type {
  border-bottom: none;
}

:host([featured]) .category {
  display: inline-block;
  padding: 6px 20px 7px 20px;
  border: $border;
  font-weight: bold;
  font-size: 11px;
}

:host([featured]) .headline {
  display: block;
  margin: 20px 0;
}

/* Sidebar Navigation (e.g. About Libra Page /libra) */
#content h4 {
  padding: 0.75em;
  background-color: $brand-blue;
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
}
#content ul {
  list-style: none;
  margin-left: 0;
}
::slotted(li) {
  font-size: 1.15em;
  text-indent: -1em;
}
