@import '@uvalib/web-styles/scss/variables';

:host {
    display: inline-block;
    position: relative;
  }

  :host .wrapper {
    fill: $brand-blue;
    background-color: $white;
  }

  :host(:hover) .wrapper button, :host(:focus) .wrapper button, .wrapper button:focus {
    fill: $white;
    background-color: $brand-blue;
  }

  .wrapper {
    position: relative;
  }

  #image[enlargable] {
    cursor: pointer;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
  }

  button {
    fill: inherit;
    background-color: inherit;
    cursor: pointer;
    border: none;
    padding: .4em 0.45em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .sr-only {
    @include sr-only;
  }
  