---
layout: page-layout.njk
pagination:
    data: books
    size: 1
    alias: book
permalink: "years/{{ book.yearId }}/{{ book.id }}/"
---
<div id="book">{{ book.id }}</div>
<pre>{{ book | dump | safe }}</pre>