---
layout: page-layout.njk
pagination:
    data: books
    size: 1
    alias: book
permalink: "book/{{ book.id }}/"
---

<sl-breadcrumb>
  <sl-breadcrumb-item href="/">
    <sl-icon slot="prefix" name="house"></sl-icon>
    Home
  </sl-breadcrumb-item>
  <sl-breadcrumb-item href="/years/{{ book.year }}">{{ book.year }}</sl-breadcrumb-item>
  <sl-breadcrumb-item href="/book/{{ book.id }}">{{ book.id }}</sl-breadcrumb-item>
</sl-breadcrumb>

{% markdown book.full %}

<elix-carousel-with-thumbnails style="width: 100%">
  {% for cover in covers %}
    {% if cover.book == book.id %}
    <img src="{{ cover.filename }}">
    {% endif %}
  {% endfor %}
</elix-carousel-with-thumbnails>

<sl-details summary="book"><pre>{{ book | dump | safe }}</pre></sl-details>

<script type="module" src="/js/slideshow.js"></script>
