---
permalink: "fuseSearch.html"
---

<script type="module">

import Fuse from 'https://cdn.jsdelivr.net/npm/fuse.js@6.5.3/dist/fuse.esm.js'

const fuseIndex = {{ years | fuseIndex('title','year','searchContent') | dump | safe }};
const years = {{ years | dump | safe }};

const myIndex = Fuse.parseIndex(fuseIndex)
// initialize Fuse with the index
const fuse = new Fuse(years, {}, myIndex);

console.log( fuse.search('modern') );
</script>