---
layout: page-layout.njk
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.65/dist/themes/light.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.65/dist/shoelace.js"></script>
<script type="module" src="{{ '/js/grid.js' | url }}"></script>

<h1>Modern Library Bibliography</h1>

<h2>Books published by the Modern Library</h2>
<mlb-grid></mlb-grid>
<!--
<vaadin-grid theme="row-stripes" column-reordering-allowed multi-sort>
    <vaadin-grid-selection-column auto-select></vaadin-grid-selection-column>
    <vaadin-grid-sort-column width="5em" path="yearId" header="Year"></vaadin-grid-sort-column>
    <vaadin-grid-sort-column width="9em" path="METADATA.TITLE" header="Title"></vaadin-grid-sort-column>
    <vaadin-grid-sort-column width="9em" flex-grow="2" path="METADATA.AUTHOR" header="Author"></vaadin-grid-column>
</vaadin-grid>
-->

<script id="yearsData" type="text/json">{{ years | dump | safe }}</script>
<script id="booksData" type="text/json">{{ books | dump | safe }}</script>
<script>

console.log(JSON.parse( document.querySelector('#booksData').textContent ));

  const grid = document.querySelector('mlb-grid');
  const books = JSON.parse( document.querySelector('#booksData').textContent )
  grid.items = books;
/*
  // Populate the grid with data
  const grid = document.querySelector('vaadin-grid');
  fetch('https://demo.vaadin.com/demo-data/1.0/people?count=200')
    .then((res) => res.json())
    .then((json) => (grid.items = json.result));
*/
</script>

<h2>Debug</h2>

<sl-details summary="books"><pre>{{ books | dump | safe }}</pre></sl-details>
<sl-details summary="years"><pre>{{ years | dump | safe }}</pre></sl-details>