---
layout: page-layout.njk
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.65/dist/themes/light.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.65/dist/shoelace.js"></script>
<script type="module" src="{{ '/js/grid.js' | url }}"></script>

<h1>Modern Library Bibliography</h1>

<h2>Test of 11ty doc parsing</h2>

<h2>Debug</h2>

<sl-details summary="years"><pre>{{ yearsFromDocs | dump | safe }}</pre></sl-details>