---
layout: page-layout.njk
pagination:
    data: revisions
    size: 1
    alias: rev
permalink: "revision/{{ rev.id }}.html"
---

<sl-breadcrumb>
  <sl-breadcrumb-item href="/">
    <sl-icon slot="prefix" name="house"></sl-icon>
    Home
  </sl-breadcrumb-item>
  <sl-breadcrumb-item href="{{ '/years/' | url }}{{ rev.year }}.html">{{ rev.year }}</sl-breadcrumb-item>
  <sl-breadcrumb-item href="{{ '/book/' | url  }}{{ rev.book }}.html">{{ rev.book }}</sl-breadcrumb-item>
  <sl-breadcrumb-item href="{{ '/revision/' | url }}{{ rev.id }}.html">{{ rev.id }}</sl-breadcrumb-item>
</sl-breadcrumb>

<h1>{{rev.id}}</h1>
<h2>{{rev.title}}</h2>
{% markdown rev.full %}

<elix-carousel-with-thumbnails style="width: 100%">
  {% for cover in covers %}
    {% if cover.revision == rev.id %}
    <img src="{{ cover.filename | url }}">
    {% endif %}
  {% endfor %}
</elix-carousel-with-thumbnails>

<sl-details summary="revision"><pre>{{ rev | dump | safe }}</pre></sl-details>

<script type="module" src="{{ '/js/slideshow.js' | url }}"></script>