---
layout: page-layout.njk
permalink: search.html
---

<style>
.uvalib-bento-search .bento-search-bar {
    margin: 4rem 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
    width: 100%;
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    text-align: inherit;
    margin-bottom: 3rem;
}
.uvalib-bento-search .bento-search-bar form {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}
.uvalib-bento-search .bento-search-bar form input {
    flex: 1;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    border-right: 0px;
    text-indent: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
}
.uvalib-bento-search .bento-search-bar form button {
    background-color: #007BAC;
    padding: 10px 12px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-left: 0px;
    border-right: 1px solid #007BAC;
    border-bottom: 1px solid #007BAC;
    border-top: 1px solid #007BAC;
    border-radius: 0 0.3rem 0.3rem 0;
}
.uvalib-bento-search .bento-search-bar p {
    text-align: center;
    margin-top: 1rem;
}
.uvalib-bento-search .bs-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.uvalib-bento-search .bs-results-container .bs-results--block .bs-results--body ol.bs-results--list {
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.uvalib-bento-search .bs-results-container .bs-results--block .bs-results--body {
    padding: 1rem;
}
</style>
<script type="module" src="https://unpkg.internal.lib.virginia.edu/web-components/cdn-v2.1.1/@uvalib/bento-box/bento-box.js"></script>
<bento-box no-style no-shadow-dom search-describe="Search the Modern Library Bibliography" boxes='["mlb"]' placeholder="Search"></bento-box>