---
layout: page-layout.njk
permalink: searchtest.html
---

<uvalib-faceted-search-browse selectLibrary></uvalib-faceted-search-browse>
<script type="module" src="{{ '/js/search.js' | url }}"></script>
