---
layout: page-layout.njk
pagination:
    data: TransmogXML
    size: 1
    alias: item
permalink: "items/{{ item }}/"
---
    <script src="{{ '/js/bundle.js' | url }}"></script>
    <script type="text/xml-tei">{{ TransmogXML[item].contents | safe }}</script>
    <script>
    var tei = document.querySelector('script[type="text/xml-tei"]').text;
    // CETEIcean wants the xmlns defined
    tei = tei.replace(/\<TEI/m, "<TEI xmlns=\"http://www.tei-c.org/ns/1.0\"");
    var CETEIcean = new CETEI();
    document.addEventListener("DOMContentLoaded", function(event) { 
        CETEIcean.makeHTML5(tei, data=>{
            document.querySelector("#tei").appendChild(data);
        });
    });
    </script>
    <div id="tei"></div>