---
layout: page-layout.njk
pagination:
    data: years
    size: 1
    alias: year
permalink: "years/{{ year.filename }}/"
---
<div id="year">{{ year.filename }}</div>
<h1>{{ year.TEI.TITLE }}</h1>

{% arrayOrStringPara year.TEI.UNASSIGNED, "Unassigned Text", 'unassigned' %}

{% arrayOrStringPara year.TEI.GENERAL.PARAGRAPH, "General", 'general' %}

{% arrayOrStringPara year.TEI.NUMBER_OF_TITLES.PARAGRAPH, "Number of Titles", "titles" %}

{% arrayOrStringPara year.TEI.FORMAT.PARAGRAPH, "Format", "format" %}

{% arrayOrStringPara year.TEI.TITLE_PAGE.PARAGRAPH, "Title Page", "title" %}

{% arrayOrStringPara year.TEI.BINDING.PARAGRAPH, "Binding", "binding" %}

{% arrayOrStringPara year.TEI.ENDPAPER.PARAGRAPH, "Endpaper", "endpaper" %}

{% arrayOrStringPara year.TEI.JACKET.PARAGRAPH, "Jacket", "jacket" %}

{% arrayOrStringPara year.TEI.BINDING.PARAGRAPH, "Binding", "binding" %}

{% arrayOrStringPara year.TEI.ENDPAPER.PARAGRAPH, "Endpaper", "endpaper" %}

{% arrayOrStringPara year.TEI.JACKET.PARAGRAPH, "Jacket", "jacket" %}

{% arrayOrStringPara year.TEI.PRICE.PARAGRAPH, "Price", "price" %}

{% arrayOrStringPara year.TEI.DATING_KEYS.PARAGRAPH, "Dating key", "dating_key" %}

{% arrayOrStringPara year.TEI.TITLES_S_S_D.PARAGRAPH, "Titles sought, suggested, declined", "titles_s_s_d" %}

<h2>Debug</h2>
<sl-details summary="year"><pre>{{ year | dump | safe }}</pre></sl-details>
