---
layout: page-layout.njk
pagination:
    data: years
    size: 1
    alias: year
permalink: "years/{{ year.filename }}/"
---
<div id="year">{{ year.filename }}</div>
<h1>{{ year.TEI.TITLE }}</h1>
<pre>{{ year | dump | safe }}</pre>